@tailwind base;
@tailwind components;
@tailwind utilities;

/* MOBIL*/
@media only screen and (max-width: 600px) {
  h1 {
    font-family: "Philosopher", sans-serif;
    font-size: 2rem;
    color: #d92929;
  }

  h2 {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    color: black;
  }

  p {
    font-family: "Poppins", sans-serif;
    font-size: 0.7rem;
    color: black;
    line-height: 32px;
  }
  a {
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
  }
}

/* WEB*/
@media only screen and (min-width: 600px) {
  h1 {
    font-family: "Philosopher", sans-serif;
    font-size: 5rem;
    color: #d92929;
  }

  h2 {
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    color: black;
  }

  p {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: black;
    line-height: 32px;
  }
  a {
    font-family: "Poppins", sans-serif;
  }
}

#velkommen {
  background-image: url(/illustrationer/baggrundsbobbel.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.autominmax {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
